<div class="row">
    <div class="col-md-8">
      <p>
        <label>Pagination:
          <input type="checkbox" [checked]="pagination" (change)="pagination = !pagination" >
          <label>Page #:
            <input type="text" [(ngModel)]="page" size="2">
          </label>
          <label>Page Size:
            <input type="text" [(ngModel)]="size" size="2">
          </label>
        </label>
        <button (click)="requestPostsStream()">Reactive Request</button>
        <button (click)="requestPostsBlocking()">Blocking Request</button>
      </p>
      <table class="table">
        <thead>
        <tr>
          <th>Post ID</th>
          <th>Title</th>
          <!-- <th>Body</th>
          <th>Author</th> -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts" [class.success]="post === selectedPost" (click)="onSelect(post)">
          <td>{{post.id}}</td>
          <td>{{post.title}}</td>
          <!-- <td>{{post.body}}</td>
          <td>{{post.author}}</td> -->
        <tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <div class="message">Click on a post for more details</div>
      <app-post-detail [post]="selectedPost"></app-post-detail>
    </div>
  </div>